<template>
  <div>
    <div class="text-center mt-6">
      <h1 class="text-2xl">Shorten URL</h1>
      <form @submit.prevent="submit">
        <input
          type="text"
          placeholder="Paste your valid UR format like http://www.url.com"
          class="p-2 border rounded-md shadow-md w-2/5"
          v-model="original_url"
        />
        <i @click="submit" class="fas fa-paper-plane text-orange-600 cursor-pointer shadow-lg"></i>
      </form>
      <span class="p-2 text-md text-red-500" v-if="errors.original_url">
        {{
        errors.original_url[0]
        }}
      </span>
    </div>
    <div class="text-center mt-3">
      <span></span>
      <input
        type="text"
        placeholder="Filter List By Shorten URL or keyword on Original URL."
        class="p-2 border rounded-md shadow-md w-2/4"
        v-model="search"
      />
    </div>
    <section class="mt-5 text-center flex justify-center">
      <div class="border rounded-md p-4">
        <div v-if="items.data.length > 0">
          <table>
            <thead>
              <tr>
                <th>Original Url</th>
                <th>Shorten Url</th>
                <th>Hits</th>
                <th>Created Url</th>
                <th>Expiry</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in filtered" :key="item.id">
                <td class="p-2 rounded border text-sm">{{ item.original_url }}</td>
                <td class="p-2 rounded border text-sm">
                  <a :href="item.path" target="_blank">
                    www.rabbitshorten.com/{{ item.shorten_url }}
                    <i
                      class="fas fa-external-link-alt ml-2"
                    ></i>
                  </a>
                </td>
                <td class="p-2 rounded border text-sm">{{ item.visits }}</td>
                <td class="p-2 rounded border text-sm">{{ item.created_at }}</td>
                <td class="p-2 rounded border text-sm">{{ item.expires }}</td>
                <td class="p-2 rounded border text-sm">
                  <i
                    @click="destroy(item)"
                    class="fas fa-times text-red-500 hover:text-red-700 cursor-pointer"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="flex justify-between mt-5">
            <a
              href
              class="border rounded shadow-xs w-10"
              :class="
                items.current_page ==1?'bg-gray-200 text-gray-600 shadow-none' : ''
              "
              @click.prevent="prev"
            ><<</a>
            <a
              href
              class="border rounded shadow-xs w-10"
              :class="
                items.last_page == items.current_page?'bg-gray-200 text-gray-600 shadow-none' : ''
              "
              @click.prevent="next"
            >>></a>
          </div>
        </div>
        <div v-else>
          <h2>No shorten URL yet</h2>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  middleware: "auth",
  data() {
    return {
      original_url: "",
      errors: {},
      items: { data:[] },
      search: ""
    };
  },
  mounted() {
    this.fetchData(this.$route.query.page);
    //console.log("mounted");
  },
  computed: {
    // filtered() {
    //     return this.items.filter(item => {
    //         return item.shorten_url.includes(this.search);
    //     });
    // }
    filtered() {
      return this.items.data.filter(item => {
        return (
          !this.search ||
          item.original_url.toLowerCase().includes(this.search.toLowerCase()) ||
          !this.search ||
          item.shorten_url.toLowerCase().includes(this.search.toLowerCase())
        );
      });
    }
  },
  methods: {
    fetchData(page = 1) {
      this.$router.replace({query:{page:page}});
      //let queryPage = this.$route.query.page;
      //page = queryPage ? queryPage : page; 
      axios
        .get(`/url?page=${page}`)
        .then(res => {
          console.log(res.data);
          this.items = res.data;
        })
        .catch(e => {
          this.errors = e.response.data;
        });
    },

    submit() {
      if (this.original_url == "") return;
      axios
        .post("/url", { original_url: this.original_url })
        .then(res => {
          console.log(res);
          this.original_url = "";
          this.items.unshift(res.data);
          this.$notify({ message: "Created Successfully" });
        })
        .catch(e => {
          //console.log(e.response.data.errors);
          this.errors = e.response.data.errors;
        });
    },
    destroy(item) {
      if (confirm("Are you sure?")) {
        axios.delete(`/url/${item.shorten_url}`).then(res => {
          this.items = this.items.filter(i => i.id != item.id);
          this.$notify({ message: "Deleted", type: "warning" });
        });
      }
    },
    next() {
      if (this.items.current_page == this.items.last_page) return;

      let nextPageNumber = this.items.current_page + 1;

      this.fetchData(nextPageNumber);
    },
    prev() {
      let prevPageNumber = this.items.current_page - 1;
      if (prevPageNumber == 0) return;
      this.fetchData(prevPageNumber);
    }
  }
};
</script>

<style></style>
