<template>
  <div>
    <div class="text-center mt-6">
      <h1 class="text-2xl">Shorten URL</h1>
      <form @submit.prevent="submit">
        <input
          type="text"
          placeholder="Paste your valid UR format like http://www.url.com"
          class="p-2 border rounded-md shadow-md w-2/5"
          v-model="original_url"
        />
        <i @click="submit" class="fas fa-paper-plane text-orange-600 cursor-pointer shadow-lg"></i>
      </form>
      <span class="p-2 text-md text-red-500" v-if="errors.original_url">
        {{
        errors.original_url[0]
        }}
      </span>
    </div>
    <div class="text-center mt-3">
      <span></span>
      <input
        type="text"
        placeholder="Filter List By Shorten URL or keyword on Original URL."
        class="p-2 border rounded-md shadow-md w-2/4"
        v-model="search"
      />
    </div>
    <section class="mt-5 text-center flex justify-center">
      <div class="border rounded-md p-4">
        <table>
          <thead>
            <tr>
              <th>Original Url</th>
              <th>Shorten Url</th>
              <th>Hits</th>
              <th>Created Url</th>
              <th>Expiry</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in filtered" :key="item.id">
              <td class="p-2 rounded border text-sm">{{ item.original_url }}</td>
              <td class="p-2 rounded border text-sm">
                <a :href="item.shorten_url" target="_blank">
                  www.rabbitshorten.com/{{ item.shorten_url }}
                  <i
                    class="fas fa-external-link-alt ml-2"
                  ></i>
                </a>
              </td>
              <td class="p-2 rounded border text-sm">{{ item.visits }}</td>
              <td class="p-2 rounded border text-sm">{{ item.created_at }}</td>
              <td class="p-2 rounded border text-sm">{{ item.expires }}</td>
              <td class="p-2 rounded border text-sm">
                <i
                  @click="destroy(item)"
                  class="fas fa-times text-red-500 hover:text-red-700 cursor-pointer"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination :data="items" @pagination-change-page="fetchData"></pagination>
        <pagination :data="items">
          <span slot="prev-nav">&lt; Previous</span>
          <span slot="next-nav">Next &gt;</span>
        </pagination>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      original_url: "",
      errors: {},
      items: [],
      search: ""
    };
  },
  mounted() {
    this.fetchData();
    //console.log("mounted");
  },
  computed: {
    // filtered() {
    //     return this.items.filter(item => {
    //         return item.shorten_url.includes(this.search);
    //     });
    // }
    filtered() {
      return this.items.filter(item => {
        return (
          !this.search ||
          item.original_url.toLowerCase().includes(this.search.toLowerCase()) ||
          !this.search ||
          item.shorten_url.toLowerCase().includes(this.search.toLowerCase())
        );
      });
    }
  },
  methods: {
    // fetchData() {
    //     axios
    //         .get("/api/url")
    //         .then(res => {
    //             //console.log(res.data);
    //             this.items = res.data;
    //         })
    //         .catch(e => {
    //             this.errors = e.response.data;
    //         });
    // },
    fetchData(page = 1) {
      axios
        .get("/api/url?page=" + page)
        .then(res => {
          //console.log(res.data);
          this.items = res.data;
        })
        .catch(e => {
          this.errors = e.response.data;
        });
    },
    submit() {
      if (this.original_url == "") return;
      axios
        .post("/api/url", { original_url: this.original_url })
        .then(res => {
          console.log(res);
          this.original_url = "";
          this.items.unshift(res.data);
          this.$notify({ message: "Created Successfully" });
        })
        .catch(e => {
          //console.log(e.response.data.errors);
          this.errors = e.response.data.errors;
        });
    },
    destroy(item) {
      if (confirm("Are you sure?")) {
        axios.delete(`api/url/${item.shorten_url}`).then(res => {
          this.items = this.items.filter(i => i.id != item.id);
          this.$notify({ message: "Deleted", type: "warning" });
        });
      }
    }
  }
};
</script>

<style></style>
